.field-type-text-with-summary .form-type-textarea { position: relative; }
.field-type-text-with-summary .form-type-textarea label { height: 1px; text-indent: -9999px; }
.field-type-text-with-summary .form-type-textarea a.link-edit-summary { position: absolute; top: -11px; right: 50%; height: 20px; width: 20px; z-index: 10; background: url(../images/summ.png);}
.field-type-text-with-summary .text-summary-wrapper { position: relative; }
.field-type-text-with-summary .text-summary-wrapper {  }
.field-type-text-with-summary .text-summary-wrapper a.link-edit-summary { top: auto; position: absolute; bottom: -12px; right: 50%; z-index: 10; background-position: 20px 0; }

