/***************************************************************************************Contextual Links */
/***************************************************************************************Contextual Links */
/***************************************************************************************Contextual Links */
 .contextual-links-region .contextual-links-region div.contextual-links-wrapper { display: none; }
 .contextual-links-region .contextual-links-region:hover div.contextual-links-wrapper { display: block; }

 div.contextual-links-wrapper { display: none; font-size: 90%; position: absolute; right: -8px; /* LTR */   top: -8px; z-index: 999; }
html.js div.contextual-links-wrapper { display: block; }

 a.contextual-links-trigger { background-image: url(../images/cog_tny.png); background-repeat: no-repeat; background-position: center center; background-color: yellow; border: 1px solid transparent; display: none; height: 16px; margin: 0; padding: 0; outline: none; text-indent: 34px; /* LTR */ width: 16px; overflow: hidden; -khtml-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
 a.contextual-links-trigger:hover, div.contextual-links-active a.contextual-links-trigger {background-image: url(../images/cog_sm.png);  background-position: center center; }
 .contextual-links-region-active { outline: yellow dotted 1px; }

 div.contextual-links-active a.contextual-links-trigger {  background-image: url(../images/pen_tny.png); background-repeat: no-repeat; background-position: center center; background-color: yellow; border: 1px solid transparent; display: none; height: 16px; margin: 0; padding: 0; outline: none; text-indent: 34px; /* LTR */ width: 16px; overflow: hidden; -khtml-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
 div.contextual-links-wrapper ul.contextual-links { background-color: transparent; border: none; display: none; margin: 0; padding: 0 0 0 0; position: absolute; right: 0; text-align: left; top: 14px; white-space: nowrap; -moz-border-radius: 0 0 0 0; /* LTR */ -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; -webkit-border-top-right-radius: 0; /* LTR */ -webkit-border-top-left-radius: 0; /* LTR */ border-radius: 0 0 0 0; /* LTR */ }
 .contextual-links-region:hover a.contextual-links-trigger, div.contextual-links-active a.contextual-links-trigger, div.contextual-links-active ul.contextual-links { display: block; }

 ul.contextual-links li { line-height: 100%; list-style: none; list-style-image: none; margin: 0; padding: 0; background-color: yellow; width: 100px; }
 div.contextual-links-wrapper a { text-decoration: none; background-color: yellow; }
 ul.contextual-links li a { color: #333; display: block; margin: 0; padding: 6px 12px; background-color: yellow; }
 ul.contextual-links li a:hover { background-color: #222; color: #fff !important; }



/******Hack for blocks and panes.  Prevents contextual links from stacking up. */

 .pane-fieldable-panels-pane div.contextual-links-wrapper,
 .pane-block div.contextual-links-wrapper { right: 50%; /* LTR */   top: -8px; }

 .xxxpane-fieldable-panels-pane ul.contextual-links,
 .xxxpane-block ul.contextual-links { left: -50%; }
