.tabledrag-toggle-weight-wrapper { float:right; font-size:11px; position: relative; }
.tabledrag-toggle-weight-wrapper a { display:block; width: 22px; position: absolute; bottom: -12px; right: 63px; width: 22px; height: 22px; text-indent:999px; overflow:hidden; background:url(../images/sortnumberround.png) no-repeat; }

table.tabledrag-processed td.field-multiple-drag {  }

