/*****************************xxxtesting the fixed ajax messages*/
body .ajax-progress { background: #feffdb; min-height: 12px; min-width: 25px; margin-left: -30px; position: fixed; top: 0px; left: 50%; padding: 6px 18px; line-height: 13px;font-size: 70%; text-transform: uppercase; color: #666; border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px;  -webkit-border-radius: 0px 0px 3px 3px; border: 1px solid #f4eeb5;}
body .ajax-progress .message { padding-left: 12px; }
body .ajax-progress .throbber{ background-color: #fff; border: 1px solid #ddd; background-image: url(../images/dotsloader.gif); background-repeat: no-repeat; background-position: center center; height: 28px; width: 28px;  -khtml-border-radius: 28px; -moz-border-radius: 28px; -webkit-border-radius: 28px; border-radius: 28px; position: absolute; right: 10px; bottom: -14px;}
body .flag-waiting .flag-throbber { display: block; background: #feffdb; position: fixed; top: 0px; left: 50%; width: 50px; margin-left: -25px; height: 25px; text-transform: uppercase; color: #666; border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px;  -webkit-border-radius: 0px 0px 3px 3px; border: 1px solid #f4eeb5;}
body .flag-waiting .flag-throbber .flagwheel { display: block; background-color: #fff; border: 1px solid #ddd; background-image: url(../images/dotsloader.gif); background-repeat: no-repeat; background-position: center center; height: 28px; width: 28px;  -khtml-border-radius: 28px; -moz-border-radius: 28px; -webkit-border-radius: 28px; border-radius: 28px; position: absolute; right: 16px; bottom: -14px; }


body .form-item .tabledrag-changed-warning, body form .tabledrag-changed-warning { background-image: none; width: 500px; background: #feffdb; position: fixed; top: 0px; left: 50%; padding: 6px 25px; margin: 0 0 0 -275px; border: none; line-height: 13px;font-size: 70%; text-transform: uppercase; color: #999; border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px;  -webkit-border-radius: 0px 0px 3px 3px; border: 1px solid #f4eeb5;}

/*********************flag messages*/
body .flag-message { position: fixed; top: 0px; left: 50%; width: 130px; margin-left: -65px; font-size: .8em; height: 14px; line-height: 14px; padding: 6px 10px; display: block; background: #feffdb; text-align: center; font-size: 70%; text-transform: uppercase; border-radius: 0px 0px 3px 3px; -moz-border-radius: 0px 0px 3px 3px;  -webkit-border-radius: 0px 0px 3px 3px; }
body .flag-trash .flag-flagged-message { background: #990000; color: #fff; border: none;} /**trash*/
body .flag-trash .flag-unflagged-message { background: #127c02; color: #fff; border: none; } /**trash*/

/*********************views messages*/
body.page-admin-structure-views .ajax-progress { background: #fff; margin: 0; padding: 0; height: 60px; width: 60px; border-color: #ddd; background-image: url(../images/dotsloader.gif); background-repeat: no-repeat; background-position: center center; -khtml-border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px;}

