.form-wrapper .tabledrag-processed input.form-submit[value="Remove"],
.form-wrapper .tabledrag-processed tr:hover input.form-submit[value="Remove"]:hover { display: none; cursor: pointer; border: none; background: url(../images/minusiconround22.png); width: 16px !important; height: 16px; padding: 0; text-indent: -999px; overflow: hidden; background-repeat: no-repeat; position: relative; right: -12px; top: 7px; }

.form-wrapper .tabledrag-processed tr:hover input.form-submit[value="Remove"] { display: block; }

