.cxdots-add-wrapper { position: relative; padding: 0; }
.cxdots-add-wrapper .clearfix  { width: 16px !important; height: 16px; overflow: hidden; position: absolute; right: -6px; bottom: 22px; margin: 0px; cursor: pointer; z-index: 99;}
.cxdots-add-wrapper table .clearfix  { width: auto !important; height: auto; overflow: visible; position: static; margin: 0; cursor: pointer; }
.cxdots-add-wrapper input.field-add-more-submit { display: none; cursor: pointer; border: none; background: url(../images/plusiconround22.png); width: 16px !important; height: 16px; padding: 0; text-indent: -999px; overflow: hidden; background-repeat: no-repeat; }
.cxdots-add-wrapper:hover input.field-add-more-submit { display: block; }
